.barraDay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#barra{
    height: 40px;
    width: 10px;
    background-color: greenyellow;
}
#hora{
    margin: 0;
}