.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px;
    padding: 2px;
    border: 1px dashed blue;
    max-width: 500px;
    justify-items: center;
}
@media only screen and (max-width: 576px) {
    .highlights{
        display: block;
        width: calc(100% - 10px);
    }
}