.panel{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    max-height: 120px;
    max-width: 150px;
    min-width: 135px;
    background-color: white;
}
.panel> h1, h4, p{
    margin: 0;
}
@media only screen and (max-width: 662px) {
    .panel{
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
}
