.panel{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    min-width: 100%;
    background-color: rgb(0 0 0 / 49%);
    color: white;
    text-shadow: 2px 2px 2px black;
}
.panel> h1, h4, p{
    margin: 0;
}
@media only screen and (max-width: 647px) {
    .panel{
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
