.panel{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    height: 120px;
    max-width: 220px;
    min-width: 150px;
    background-color: white;
}
.panel> h1, h4, p{
    margin: 0;
}
@media only screen and (max-width: 576px) {
    .panel{
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
}