.today {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  padding: 2px;
  max-width: 500px;
  background-color: rgb(0 0 0 / 27%);
  overflow-y: auto;
}
.ejeX {
  width: fit-content;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding-top: 7px;
}
.ejeX > ul {
  list-style: none;
  padding: 0 5px 0 0;
}
@media only screen and (max-width: 640px) {
  .today {
    display: none;
    max-height: fit-content;
    max-width: 100%;
  }
  .ejeX {
    position: sticky;
    left: 6px;
    padding-top: 11px;
  }
}
