.today{
    display: flex;
    justify-content: space-evenly;
    border: 1px dashed blue;
    border-radius: 5px;
    margin: 5px;
    height: 100px;
    padding: 5px;
    max-width: 500px;
    background-color: orange;
}