.left{
    display: flex;
    flex-direction: column;
    height:90vh;
    width: calc(100% - 10px);
    border: 1px solid blue;
    margin: 5px;
    justify-content: space-between;
}
@media only screen and (max-width: 576px) {
    .left{
        height: 30vh;
    }
}