.left{
    display: flex;
    flex-direction: column;
    width: 216px;
    border: 1px solid blue;
    margin: 5px;
    justify-content: space-between;
}
@media only screen and (max-width: 662px) {
    .left{
        height: 30vh;
        width: calc(100% - 10px);
    }
    .left>div{
        display: flex;
        justify-content: center;
    }
}