.App{
    display: flex;
}
@media only screen and (max-width: 640px) {
    .App {
      flex-direction: column;
      max-height: fit-content;
      width: calc(100% - 10px);
      align-content: center;
    }
  }