.App {
  display: flex;
}
.switch {
  display: flex;
  background-color: #7883f3b3;
  flex-direction: column;
  box-shadow: -9px 2px 31px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -9px 2px 31px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 2px 31px 0px rgba(0,0,0,0.75);
  position: absolute;
  padding: 3px;
  border-radius: 5px 0px 0px 5px;
  width: fit-content;
  z-index: 100000;
  right: 0;
  top: 14vh;

}
a {
  width: fit-content;
  margin: 1%;
}
.botones {
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .App {
    flex-direction: column;
    max-height: fit-content;
    width: calc(100% - 10px);
    align-content: center;
  }
}
